.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 20vh;
}
/* Header */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Input */
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Created Elements List */
.createdElements {
  margin-bottom: 20px;
}

.createdElements h2 {
  font-size: 1.2rem;
}

.createdElements ul {
  list-style: none;
  padding: 0;
}

.createdElements li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.createdElements li img {
  margin-right: 10px;
}

/* Total Points */
.totalPoints {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
